parameters:
    level: 6
    paths:
        - src
        - config
        - public
        - bin
        - migrations
        - seeds
        - tests
    treatPhpDocTypesAsCertain: false
    tmpDir: var/phpstan
